flows.json
[{"id":"f9cedcf3.fed3d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"96355ade.343308","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"999dd797.5abde8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b7002ffb.962a4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"78499434.5cc79c","type":"ui_tab","z":"","name":"feild","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5196eaf.3108214","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#00cc47","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart agriculture","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":76,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ddec5dbf.7e48e","type":"ui_tab","z":"","name":"Motor control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"78c8684d.e93088","type":"ui_group","z":"","name":"temparature","tab":"78499434.5cc79c","order":1,"disp":true,"width":"5","collapse":false},{"id":"95dd1c5d.5ad5f","type":"ui_group","z":"","name":"humidity","tab":"78499434.5cc79c","order":2,"disp":true,"width":5,"collapse":false},{"id":"f098bf3f.00ef6","type":"ui_group","z":"","name":"soil moisture","tab":"78499434.5cc79c","order":3,"disp":true,"width":5,"collapse":false},{"id":"e471ab41.30f958","type":"ui_group","z":"","name":"control","tab":"ddec5dbf.7e48e","order":1,"disp":true,"width":12,"collapse":false},{"id":"28592952.f5a066","type":"ui_link","z":"","name":"simulator ","link":"https://watson-iot-sensor-simulator.mybluemix.net/","icon":"open_in_browser","target":"newtab","order":4},{"id":"a599fe75.21692","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":1,"width":1,"height":1},{"id":"6422c0dc.a5ac3","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":3,"width":2,"height":1},{"id":"31b3b86.3db0948","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":5,"width":1,"height":1},{"id":"58861c80.272354","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":6,"width":1,"height":1},{"id":"77c77059.3d2d8","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":7,"width":2,"height":1},{"id":"d77d9df0.a24f3","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":8,"width":1,"height":1},{"id":"9e64627e.1f5b1","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":9,"width":1,"height":1},{"id":"c002a712.76f5b8","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":11,"width":1,"height":1},{"id":"425a4639.36fe58","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":12,"width":1,"height":1},{"id":"bbc3d14.bd7dc3","type":"ui_spacer","name":"spacer","group":"e471ab41.30f958","order":13,"width":1,"height":1},{"id":"4534310a.3cb9b","type":"ui_tab","z":"","name":"weather","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"17d0a0b5.e3011f","type":"ui_group","z":"","name":"weather data","tab":"4534310a.3cb9b","order":1,"disp":true,"width":19,"collapse":false},{"id":"ad57e42a.533e48","type":"ui_spacer","name":"spacer","group":"17d0a0b5.e3011f","order":1,"width":6,"height":1},{"id":"d0b5d600.eb5e48","type":"ui_spacer","name":"spacer","group":"17d0a0b5.e3011f","order":3,"width":8,"height":1},{"id":"1f3c0cc6.9cc443","type":"ui_spacer","name":"spacer","group":"17d0a0b5.e3011f","order":4,"width":19,"height":1},{"id":"48561387.4bfcbc","type":"ibmiot in","z":"f9cedcf3.fed3d","authentication":"apiKey","apiKey":"b7002ffb.962a4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"my_first_iot","applicationId":"","deviceType":"my_iot_device","eventType":"+","commandType":"","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":240,"wires":[["ccd92bcc.9bbd38","da91f145.eae3d","7a1c816d.861c7","a322a03.884de6"]]},{"id":"ccd92bcc.9bbd38","type":"debug","z":"f9cedcf3.fed3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":240,"wires":[]},{"id":"da91f145.eae3d","type":"function","z":"f9cedcf3.fed3d","name":"temp","func":" msg.payload=msg.  payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["56255ad2.2e0b04"]]},{"id":"7a1c816d.861c7","type":"function","z":"f9cedcf3.fed3d","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["e564f357.574f2"]]},{"id":"a322a03.884de6","type":"function","z":"f9cedcf3.fed3d","name":"soil moisturre","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["18e823cb.8e0cec"]]},{"id":"56255ad2.2e0b04","type":"ui_gauge","z":"f9cedcf3.fed3d","name":"","group":"78c8684d.e93088","order":1,"width":0,"height":0,"gtype":"gage","title":" temp","label":"deg","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":320,"wires":[]},{"id":"e564f357.574f2","type":"ui_gauge","z":"f9cedcf3.fed3d","name":"","group":"95dd1c5d.5ad5f","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":380,"wires":[]},{"id":"18e823cb.8e0cec","type":"ui_gauge","z":"f9cedcf3.fed3d","name":"","group":"f098bf3f.00ef6","order":1,"width":0,"height":0,"gtype":"gage","title":"soil moisture ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":440,"wires":[]},{"id":"89110d6c.01b3e","type":"ibmiot out","z":"f9cedcf3.fed3d","authentication":"apiKey","apiKey":"b7002ffb.962a4","outputType":"cmd","deviceId":"arduino","deviceType":"agri_iot","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT output","service":"registered","x":720,"y":580,"wires":[]},{"id":"9e3f2d0f.c9f16","type":"ui_button","z":"f9cedcf3.fed3d","name":"","group":"e471ab41.30f958","order":2,"width":4,"height":2,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":450,"y":520,"wires":[["89110d6c.01b3e","ccd92bcc.9bbd38","1804fca7.783e93"]]},{"id":"b3fa0d33.0cc93","type":"ui_button","z":"f9cedcf3.fed3d","name":"","group":"e471ab41.30f958","order":4,"width":4,"height":2,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":470,"y":620,"wires":[["89110d6c.01b3e","ccd92bcc.9bbd38","1804fca7.783e93"]]},{"id":"1804fca7.783e93","type":"ui_text","z":"f9cedcf3.fed3d","group":"e471ab41.30f958","order":10,"width":"0","height":"0","name":"","label":"motor status","format":"{{payload.command}}","layout":"row-spread","x":250,"y":560,"wires":[]},{"id":"26ade769.a876b8","type":"http request","z":"96355ade.343308","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Visakhapatnam,IN&appid=1fd26900a7f84e8eeaf03335bab78d7a","tls":"","persist":false,"proxy":"","authType":"","x":160,"y":200,"wires":[["cf4b29ca.a77148","d8848043.171f7","f7b0180c.b993c8"]]},{"id":"cf4b29ca.a77148","type":"function","z":"96355ade.343308","name":"temp","func":"msg.payload=msg.payload.main.temp\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["bd2a4d3e.3c7f3"]]},{"id":"32ae4079.27cef","type":"ui_button","z":"96355ade.343308","name":"","group":"17d0a0b5.e3011f","order":2,"width":5,"height":1,"passthru":false,"label":"update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":20,"wires":[["26ade769.a876b8"]]},{"id":"d8848043.171f7","type":"function","z":"96355ade.343308","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["d37d6d3e.d1234"]]},{"id":"f7b0180c.b993c8","type":"function","z":"96355ade.343308","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["bdae07e1.ed7cc8"]]},{"id":"d37d6d3e.d1234","type":"ui_gauge","z":"96355ade.343308","name":"","group":"17d0a0b5.e3011f","order":6,"width":6,"height":5,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":160,"wires":[]},{"id":"bd2a4d3e.3c7f3","type":"ui_gauge","z":"96355ade.343308","name":"","group":"17d0a0b5.e3011f","order":5,"width":6,"height":5,"gtype":"gage","title":"temp","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":240,"wires":[]},{"id":"bdae07e1.ed7cc8","type":"ui_gauge","z":"96355ade.343308","name":"","group":"17d0a0b5.e3011f","order":7,"width":7,"height":5,"gtype":"donut","title":"pressure","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":300,"wires":[]}]